.headerSection{
  background: url(green_wave_waves_abstract_simple.jpg) no-repeat center;
  /* padding: 200px 0; */
  text-align: center;
}

.headerTexts {
  margin: 20% 0px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.headerSection h1{
  margin-top: 0;
}

.headerSection .h2{
  margin-bottom: 5rem;
}

.sectionTeam {
  text-align: center;
}

.teamItem {
  width: calc(100% / 3 - var(--offset) * 2);
  margin-top: 30px;
}

.teamItem .h3 {
  color: var(--green);
}

.teamItem .social {
  margin-top: 10px;
  font-size: 20px;
}

.teamItem .social span{
  margin: 0 5px;
}

.teamItem .social span:hover {
  color: var(--green);
  cursor: pointer;
}

.sectionAdv, .sectionTeam{
  padding: 3rem 0;
}

.advItem {
  width: calc(100 / 2 - var(--offset) * 2);
  display: flex;
  margin-bottom: 35px;
}

.advItem .title {
  color: var(--green);
  margin-top: 0;
}

.advRange {
  width: 131px;
  height: 131px;
  background-color: var(--green);
  border-radius: 50%;
  text-align: center;
  line-height: 131px;
  margin-right: 20px;
}

.advTexts {
  width: calc(100% - 151px);
}

/* .advTexts .text {
  font-size: 1.25em;
} */

.advRange img {
  vertical-align: middle;
}

.gallery {
  --offset: 2px;
}

.galleryItem {
  width: calc(100% / 3 - var(--offset) * 2);
}

.galleryItem img {
  display: block;
}

.sectionTest {
  background: url(green_wave_waves_abstract_simple.jpg) no-repeat center;
  padding: 130px 0;
  position: relative;
}

.sectionTest h2, .sectionTest p {
  color: #fff;
}

.sectionTest h2 {
  text-align: center;
}

.sectionTest::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.sectionTest .container {
  position: relative;
  z-index: 2;
}



@media screen and (max-width: 992px) {
  .advItem {
    width: calc(100% / 1 - var(--offset) * 2);
  }
  
}

@media screen and (max-width: 768px) {
  .team {
    justify-content: center;
  }

  .teamItem {
    width: calc(100% / 1 - var(--offset) * 2);
    max-width: 370px;
  }
  
  .galleryItem {
    width: calc(100% / 2 - var(--offset) * 2);
  }
}

@media screen and (max-width: 560px) {
  .advItem {
    display: block;
  }
  
  .advTexts {
    width: auto;
    margin-top: 20px;
  }

}

@media screen and (max-width: 500px) {
  .galleryItem {
    width: calc(100% / 1 - var(--offset) * 2);
  }
}

.footer-row {
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.logo8 {
  width: 45px;
}

.logo8, .footer-copy {
  display: inline-block;
  vertical-align: middle
}

.footer-copy {
  font-size: 14px;
  color: #888888; 
}

.footer-row3 .social {
  margin-top: 10px;
  font-size: 20px;
}

.footer-row3 .social span{
  margin: 0 5px;
}

.footer-row3 .social span:hover {
  color: var(--green);
  cursor: pointer;
}

.sectionTest {
  text-align: left;
}

.testItem {
  width: calc(100% / 2 - var(--offset) * 2);
  margin-top: 30px;
}

.testItem .h3-opisanie::before {
  content: url(icons8-ок-64.png);
  margin-right: 10px;
  vertical-align: middle

}

